@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 1rem;
  /* create a background transition of a dark pattern */

  background-size: 100px;
  background-color: #000000;
  transition: background-color 0.5s ease;
}
